{{/*
Maybe this could be replaced with something more sophisticated (to also be able to do
i.e. image processing) like this:

{{ $sgp := ($.Site.GetPage "page" "bands/bands.md") }}
{{ printf "%#v" ($sgp) }}
*/}}
<div class="a-band">
    <img src="{{ printf "%s/%s%s" "/bands" .slug ".jpg" | relURL }}"
         alt="{{ .name }}">
    <a href="{{ .link }}" title="{{ .name }}" class="description" target="_blank">
        <img src="{{ printf "%s/%s%s" "/bands" .slug "-beschreibung.jpg" | relURL }}"
             alt="Beschreibung für {{ .name }}">
    </a>
</div>