<!DOCTYPE html>
<html lang="de">
    <head>
            <title>2018 | alínæ lumr Festival • 17. – 19. August 2018 • Storkow</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="canonical" href="https://www.alinaelumr.de" />
        
        
<meta name="description" content="Zum vierten Mal lädt das alínæ lumr an einem Augustwochenende zu einem ereignisreichen Urlaub auf dem Land. Auf der Burg, am Marktplatz, den Hinterhöfen, der Altstadtkirche, auf versteckten Wiesen und am See wartet unser sorgfältig kuratiertes Musikprogramm, Workshops, Theater, Lesungen und die charmante Altstadt Storkow auf euch. Wir möchten die Stadt öffnen und Orte des Zusammenkommens schaffen, auch um ein klares Zeichen für positiven Austausch und Willkommenskultur in der Region zu setzen.">

<meta property="og:type" content="website" />
<meta property="og:title" content="2018 | alínæ lumr Festival • 17. – 19. August 2018 • Storkow" />
<meta property="og:url" content="https://www.alinaelumr.de" />
<meta property="og:image" content="https://www.alinaelumr.de/user/themes/alinaelumr-2017/images/social/alinaelumr-share-muehlenfliess.jpg" />
<meta property="og:description" content="Zum vierten Mal lädt das alínæ lumr an einem Augustwochenende zu einem ereignisreichen Urlaub auf dem Land. Auf der Burg, am Marktplatz, den Hinterhöfen, der Altstadtkirche, auf versteckten Wiesen und am See wartet unser sorgfältig kuratiertes Musikprogramm, Workshops, Theater, Lesungen und die charmante Altstadt Storkow auf euch. Wir möchten die Stadt öffnen und Orte des Zusammenkommens schaffen, auch um ein klares Zeichen für positiven Austausch und Willkommenskultur in der Region zu setzen." />
<meta property="og:locale" content="de_DE" />
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "alínæ lumr e.V.",
  "url": "https://www.alinae-lumr.de",
  "sameAs": [
    "http://www.facebook.com/alinaelumr",
    "http://instagram.com/alinaelumr"
  ]
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Festival",
  "name": "alínæ lumr Festival",
  "description": "Zum vierten Mal lädt das alínæ lumr an einem Augustwochenende zu einem ereignisreichen Urlaub auf dem Land. Auf der Burg, am Marktplatz, den Hinterhöfen, der Altstadtkirche, auf versteckten Wiesen und am See wartet unser sorgfältig kuratiertes Musikprogramm, Workshops, Theater, Lesungen und die charmante Altstadt Storkow auf euch. Wir möchten die Stadt öffnen und Orte des Zusammenkommens schaffen, auch um ein klares Zeichen für positiven Austausch und Willkommenskultur in der Region zu setzen.",
  "url": "https://www.alinaelumr.de",
  "image": "https://www.alinaelumr.de/user/themes/alinaelumr-2017/images/social/alinaelumr-share-muehlenfliess.jpg",
  "startDate": "2017-08-17T16:00",
  "endDate": "2017-08-19T16:00",
  "typicalAgeRange": "All Ages",
  "eventStatus": "EventScheduled",
  "location": {
    "@type": "EventVenue",
    "name": "Burg Storkow (Mark)",
    "address": "Schloßstraße 6, 15859 Storkow (Mark)",
    "sameAs": "https://www.storkow-mark.de/verzeichnis/visitenkarte.php?mandat=71279"
  },
  "offers": {
    "@type": "AggregateOffer",
    "category": "primary",
    "lowPrice": "€30.00",
    "highPrice": "€61.00",
    "price": "61.00",
    "priceCurrency": "EUR",
    "url": "https://alinaelumr-shop.de/",
    "availability": "http://schema.org/InStock"
  }
}
</script>        
    <link href="/css/main.css" type="text/css" rel="stylesheet" />



<!-- Modernizr js -->
<script src="/user/themes/alinaelumr-2017/js/modernizr.js" type="text/javascript" ></script>


<!-- IE Fixes -->
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="page-2018">