<nav>
    <ul>
        <li>
            {{- $linkURL := "/" }}
            <a href="{{ $linkURL | relURL }}" title="Programm"
                class="{{ if eq .Page.URL ($linkURL | relURL | printf "%#s") }}active{{ end }}">
                <img src="{{ "/images/navigation/al-button-programm-inaktiv.svg" | relURL }}" 
                        alt="Programm" />
                <img src="{{ "/images/navigation/al-button-programm-aktiv.svg" | relURL }}" 
                        class="active" style="display: none;" />
            </a>
        </li>
        <li>
            <a href="https://alinaelumr-shop.de" title="Shop">
                <img src="{{ "/images/navigation/al-button-shop-inaktiv.svg" | relURL }}" 
                        alt="Shop" />
                <img src="{{ "/images/navigation/al-button-shop-aktiv.svg" | relURL }}" 
                        class="active" style="display: none;" />
            </a>
        </li>
        <li>
            {{- $linkURL := "/info/" -}}
            <a href="{{ $linkURL | relURL }}" title="Info"
                class="{{ if eq .Page.URL ($linkURL | relURL | printf "%#s") }}active{{ end }}">
                <img src="{{ "/images/navigation/al-button-info-inaktiv.svg" | relURL }}" 
                    alt="Info" />
                <img src="{{ "/images/navigation/al-button-info-aktiv.svg" | relURL }}" 
                    class="active" style="display: none;" />
            </a>
        </li>
        <li>
            {{- $linkURL := "/kontakt/" -}}
            <a href="{{ $linkURL | relURL }}" title="Kontakt"
                class="{{ if eq .Page.URL ($linkURL | relURL | printf "%#s") }}active{{ end }}">
                <img src="{{ "/images/navigation/al-button-kontakt-inaktiv.svg" | relURL }}" 
                    alt="Kontakt" />
                <img src="{{ "/images/navigation/al-button-kontakt-aktiv.svg" | relURL }}" 
                    class="active" style="display: none;" />
            </a>
        </li>
    </ul>
</nav>