// >> weiss: fdf3f1 
// >> schwarz/dunkelblau: 192c3b 
// >> beige: ffd0b2 
// >> beige (dunkel): fdaa80 
// >> türkis: 19c7bd 
// >> gelb: fee042 
// >> braun: c66a5b 

$color-white: #fdf3f1;
$color-white-translucent: rgba(253, 243, 241, 0.95);
$color-dark: #192c3b;
$color-beige: #ffd0b2;
$color-beige-dark: #fdaa80;
$color-turquoise: #19c7bd;
$color-yellow: #fee042;
$color-brown: #c66a5b;

// the default centered container with a certain width
%main-container {
    width: 96vw;
    @include MQ(M) {
        max-width: calc(#{$max-component-width} * 0.96);
    }
    margin: auto;
}
