nav.footer, div.social {
    width: 98vw;

    @include MQ(M) {
        width: 94vw;
        max-width: calc(#{$max-component-width} * 0.94);
    }
    margin: auto;
}

// spacing between elements
nav.footer { margin-bottom: 30px; }
#mc_embed_signup { margin-bottom: 30px; }
div.social { margin-bottom: 35px; }


nav.footer {
    text-align: center;
    ul li {
        display: inline;
        
        a {
            text-decoration: none;

            img {
                width: 52vw;
                // width: 27%;

                @include MQ(M) {
                    width: 27vw;
                    max-width: calc(#{$max-component-width} * 0.27);
                }
            }
        }
        
        a.active, a:hover {
            img {
                display: none;
            }
            img.active {
                display: inline !important;
            }
        }
    }
}

// The mailchimp form
#mc_embed_signup {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width: 280px;
    max-width: 280px;

    div {
        display: inline;
    }

    // first the positioning...
    #mc_embed_signup_scroll {
        display: flex;
        
        // the text input
        div.mc-field-group {
            flex-grow: 1;

            input {
                width: calc(100% - 12px);
            }
        }
    }

    // then the style
    input {
        border: none;
        font-size: 22px;
        height: 17px;
        line-height: 23px;
        margin: 0;
        padding: 6px;
        text-align: center;

        &[type="email"] {
            @include font-al-regular;
            background-color: $color-turquoise;
            color: $color-white;
            font-weight: 100;
            font-size: 20px;

            &::placeholder {
                color: $color-white;
            }
        }

        // submit...
        &.content-newsletter-button {
            background-color: $color-white;
        }
    }
}

div.social {
    text-align: center;

    a {
        text-decoration: none;
        padding: 0 2.5vw;

        img {
            width: 13vw;
        }

        @include MQ(M) {
            padding: 0 .8vw;
            img {
                width: 4vw;
            }
        }
        @include MQ(L) {
            padding: 0 calc(#{$max-component-width} * 0.008);
            img {
                width: calc(#{$max-component-width} * 0.04);
            }
        }

        &:hover {
            img {
                display: none;
            }
            img.active {
                display: inline !important;
            }
        }
    }
}

div.partner {
    width: 80vw;
    background-color: $color-white;
    padding: 10vw;
}