main {
    width: 95%;
    max-width: 1100px;
    margin: auto;
    padding: 45px 15px;
    display: flex;
    // align-items: flex-start; // toggle me to align column heights

    .column {
        background-blend-mode: lighten;
        background-color: $color-white-translucent;
        width: 33.3%;
        padding: 10px;
        margin: 5px;
    }

    h2 {
        @include font-al-black;
        color: $color-turquoise;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 5px;

        &:not(:first-child) {
            margin-top: 13px;
        }
    }

    h3 {
        @include font-al-black;
        text-transform: uppercase;
        font-size: 11px;
        margin-top: 13px;
        margin-bottom: 2px;
    }

    p {
        @include font-al-regular;
        color: $color-dark;
        font-size: 11px;
        line-height: 14px;
        margin-bottom: 2px;

        a {
            color: $color-dark;

            &:hover {
                text-decoration: none;
            }
        }
    }
}