@import 'defaults';
@import 'fonts';
@import 'responsive';

@import 'reset';

body {
    background-color: $color-beige;
    background-image: url(../images/al-bg-low.jpg);
    background-repeat: no-repeat;
    // background-size: 100%;
    background-size: cover;
    background-attachment: fixed;
	background-position: 0% 0%;

    @include MQ(M) {
        background-image: url(../images/al-bg-high.jpg);
    }
}

@import 'navigation+logo';
@import 'footer';
@import 'page-columns';
@import 'page-info';