@import 'defaults';

@import 'reset';

body {
    p {
        font-weight: bold;

    }

    background-color: $color-beige;
    background-image: url(../images/al-bg-high-2.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
}

@import 'navigation+logo';
@import 'footer';