@import 'reset';
@import 'responsive';
@import 'defaults';
@import 'fonts';

body {
    background-color: $color-beige;

    #bgfix {
        position: fixed;
        width: 100vw;
        height: 105vh;
        z-index: -10;

        background-image: url(../images/al-bg-low.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: 0% 0%;

        @include MQ(M) {
            background-image: url(../images/al-bg-high.jpg);
        }
    }
}

@import 'navigation+logo';
@import 'footer';
@import 'page-bands';
@import 'page-columns';
@import 'page-full';
@import 'pretix';
