<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "alínæ lumr e.V.",
    "url": "https://www.alinae-lumr.de",
    "logo": "https://www.alinaelumr.de/images/al-logo.png",
    "sameAs": [
        "http://www.facebook.com/alinaelumr",
        "http://instagram.com/alinaelumr"
    ]
}
</script>
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Festival",
    "name": "alínæ lumr Festival",
    "description": "Zum vierten Mal lädt das alínæ lumr an einem Augustwochenende zu einem ereignisreichen Urlaub auf dem Land. Auf der Burg, am Marktplatz, den Hinterhöfen, der Altstadtkirche, auf versteckten Wiesen und am See wartet unser sorgfältig kuratiertes Musikprogramm, Workshops, Theater, Lesungen und die charmante Altstadt Storkow auf euch. Wir möchten die Stadt öffnen und Orte des Zusammenkommens schaffen, auch um ein klares Zeichen für positiven Austausch und Willkommenskultur in der Region zu setzen.",
    "url": "https://www.alinaelumr.de",
    "image": "{{ "https://www.alinaelumr.de/images/social/alinaelumr-share-muehlenfliess.jpg" | absURL }}",
    "startDate": "2019-08-23T16:00+2",
    "endDate": "2019-08-25T16:00+2",
    "typicalAgeRange": "All Ages",
    "eventStatus": "EventScheduled",
    "performer": {
        "@type": "Organization",
        "name": "alínæ lumr e.V."

    },
    "location": {
        "@type": "EventVenue",
        "name": "Burg Storkow (Mark)",
        "address": "Schloßstraße 6, 15859 Storkow (Mark)",
        "sameAs": "https://www.storkow-mark.de/verzeichnis/visitenkarte.php?mandat=71279"
    },
    "offers": {
        "@type": "AggregateOffer",
        "category": "primary",
        "lowPrice": "€55.50",
        "highPrice": "€69.00",
        "price": "64.00",
        "priceCurrency": "EUR",
        "url": "https://www.alinaelumr.de/shop",
        "availability": "http://schema.org/InStock",
        "validFrom": "2018-08-19T12:00+2"
    }
}
</script>  