<!DOCTYPE html>
<html lang="de">
    <head>
        {{ partial "header.html" . }}
    </head>
    <body class="{{ .Params.class }}">
        <div id="bgfix"> </div>
        <header class="main-header">
            {{ partial "navigation.html" . }}
            {{ partial "logo.html"}}
        </header>

        <main>
            {{ block "main" . }}
                <!-- The part of the page that begins to differ between templates -->
            {{ end }}
        </main>

        {{ partial "footer.html" . }}
        <script src="{{ "/js/zepto.min.js" | relURL }}" type="text/javascript"></script>
        <script src="{{ "/js/main.js" | relURL }}" type="text/javascript"></script>
        {{ if isset .Params "scripts" }}
            {{ range .Params.scripts }}
                <script src="{{ printf "/js/%s" . | relURL }}" type="text/javascript"></script>
            {{ end }}
        {{ end }}
    </body>
</html>
