{{ partial "header.html" . }}
    
    <div class="header-wrapper">
        <header class="main-header">
            <div class="illu">
                <img src="/user/themes/alinaelumr-2017/images/header/Zweig.svg" alt="Baum">
            </div>
            <div class="illu">
                <img src="/user/themes/alinaelumr-2017/images/header/Storch.svg" alt="Storch">
            </div>
            <div class="logo">
                <h1>
                    <a href="/">
                        <img src="/user/themes/alinaelumr-2017/images/header/Logo.svg" alt="alínæ lumr Festival">
                    </a>
                </h1>
            </div>
            <div class="illu">
                <img src="/user/themes/alinaelumr-2017/images/header/Eicke.svg" alt="Eichel">
            </div>
            <div class="text">
                17. – 19. August <br>
                Storkow (Mark)
            </div>
        </header>

                    
    </div>

    <div class="content-wrapper">
        <div class="text-page">
            Home page content:
            {{ .Content }}
            
            {{ range $.Site.Data.bands }}
                {{ .name }}
            {{ end }}
        </div>
    </div>
        
{{ partial "footer.html" . }}
